header {
background-color: aquamarine;
border: solid black 5px;
color: white;
font: bold;
text-align: center;
padding: 15px;
}
nav a{
    color: black;
}
main {
    color: black;
    background-color: white;
    padding: 15px
}
ul{
    list-style-type: disc;
}
aside{
    background-color: lightblue;
    padding: 15px;
    border: solid black 5px;
    text-align: left;
    margin: 15px;
    align-items: end;
    width: 300px;

}
footer{
    background-color: violet;
    color: white;
    text-align: center;
    padding: 10px;
}